build/*
*.ncb
*.[oa]
*.exe
*.obj
*.dll
*.ilk
*.pdb
*.exp
*.pch
*.idb
*.pdb
*.sdf
*.suo
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


