# vs2013
build/*
Visual Studio 2013
Visual Studio 2013/*
Visual Studio 2013Templates
Visual Studio 2013Templates/*
Visual Studio 2013Projects
Visual Studio 2013Projects/*
*.ncb
*.o
*.exe
*.obj
*.ilk
*.pdb
*.exp
*.idb
*.pdb
*.sdf
*.suo
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


